@mixin displayes($display, $alignItem, $justify, $wrap, $direction) {
  display: $display;
  align-items: $alignItem;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

.whatsapp_sidebar {
  min-width: 475px;
  position: relative;
  @include displayes(flex, center, start, unset, column);
  .menu_container {
    position: absolute;
    transition: all .3s ease;
    top: 40px;
    right: 35px;
    z-index: 1000;
    box-shadow: 0 0 .5px #222;
    width: 200px;
    overflow: hidden;
    background-color: #fff;
    @include displayes(flex, start, space-between, nowrap, column);
    span {
      cursor: pointer;
      font-size: .9em;
       padding: 15px;
      color:#777;
      width: 100%;
      &:hover {
        background-color: #f5f6f6;
      }
    }
  }
  .header_chat_list {
    width: 100%;
    padding: 5px 13px;
    background-color: #f0f2f5;
    height: 59px;
    position: relative;
    overflow: hidden;
    @include displayes(flex, center, space-between, unset, row);

    


    .avatar {
      align-items: center;
      justify-content: center;
      flex-grow: 0.3;
      .profile_img {
        width: 40px;
        cursor: pointer;
        border-radius: 50%;
      }
    }
    .icons {
      height: 100%;
      flex-grow: 0.2;
      @include displayes(flex, center, space-around, unset, row);
     
    }
  }

  .search_bar {
    @include displayes(flex, center, unset, unset, row);

    background-color: #fff;
    width: 100%;
    padding: 8px 6px;
    overflow: hidden;
    border-bottom: 0.6px solid #eee;
    .search_text_icon {
      position: relative;
      width: 90%;
      @include displayes(flex, center, center, unset, row);
      .whatsapp_search_input {
        font-weight: 100;
        width: 97%;
        border: none;
        outline: none;
        padding: 9px;
        border-radius: 8px;
        font-size: 0.8em;
        background-color: #f0f2f5;
        color: #444;
        text-indent: 45px;
        &::placeholder {
          font-weight: 100;
          opacity: 0.7;
          margin-left: 45px;
        }
      }
      .search_svg {
        cursor: pointer;
        position: absolute;
        left: 20px;
        @include displayes(flex, center, center, unset, row);
        height: 100%;
      }
    }
    .filter_chat_wrapper {
      margin: 0 0 0 10px;
      .filter_svg {
        cursor: pointer;
        opacity: 0.4;
      }
    }
  }

  .chat_list {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      // background: #f1f1f1;
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
    }
  }
}
