@mixin displayes($display, $alignItem, $justify, $wrap, $direction) {
  display: $display;
  align-items: $alignItem;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

.whatsapp_sidebar {
  min-width: 475px;
  @include displayes(flex, center, start, unset, column);

  .header_chat_list {
    width: 100%;
    padding: 0 13px;
    background-color: #f0f2f5;
    height: 59px;
    @include displayes(flex, center, space-between, unset, row);

    .avatar {
      align-items: center;
      justify-content: center;
      flex-grow: 0.3;
      .profile_img {
        width: 40px;
        border-radius: 50%;
      }
    }

    .icons {
      height: 100%;
      flex-grow: 0.2;
      @include displayes(flex, center, space-around, unset, row);
    }
  }

  .search_bar {
    @include displayes(flex, center, unset, unset, row);
    background-color: #fff;
    width: 100%;
    padding: 6px;
    .search_text_icon {
      position: relative;
      width: 90%;
      @include displayes(flex, center, center, unset, row);
      .whatsapp_search {
        font-weight: 100;
        width: 95%;
        border: none;
        outline: none;
        padding: 7px;
        border-radius: 8px;
        // margin: 0 0 0 1px;
        background-color: #f0f2f5;
        text-indent: 45px;
        &::placeholder {
          font-size: 0.8em;
          font-weight: 100;
          opacity: 0.7;
          margin-left: 45px;
        }
      }
      .search_svg {
        position: absolute;
        left: 20px;
        @include displayes(flex, center, center, unset, row);
        height: 100%;
      }
    }
    .filter_chat_wrapper {
        margin: 0 0 0 10px;
      .filter_svg {
        opacity: 0.4;
      }
    }
  }
}
