@import "_animationLogo.scss";

@mixin displayes($display, $alignItem, $justify, $wrap, $direction) {
  display: $display;
  align-items: $alignItem;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

$fontColor: #999;

.load_whatsapp_container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f9fa;
  @include displayes(flex, center, center, unset, column);

  .whats_app_loading {
    width: 450px;
    height: 400px;
    @include displayes(flex, center, unset, unset, column);

    .whatsapp_icon_logo {
      font-size: 4.5em;
      margin: 40px 0;
      animation: logo 3s ease-in-out infinite;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        130deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(221, 221, 221, 1) 100%
      );
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .whatsapp_footer {
    @include displayes(flex, center, space-evenly, unset, column);
    margin: 40px 0;

    p {
      color: $fontColor;
      margin: 10px 0;
      font-size: 0.9em;
    }

    .whatsapp_description {
      @include displayes(flex, center, space-evenly, unset, row);
      svg {
        color: #aaa;
        font-size: 0.9em;
      }
      span {
        font-size: 0.7em;
        color: $fontColor;
      }
    }
  }
}

// f8f9fa
// #00a884

// width: 450px;
// height: 400px;
// box-shadow: 1px 1px 7px #555;
// background-color: #fff;
// border-radius: 8px;
