* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: whatsapp_font_one;
    overflow: auto;
}

@font-face {
    font-family: whatsapp_font_one;
    src: url(./fonts/MerriweatherSans-Regular.ttf);
}

body{
    width: 100vw;
    height: 100vh;
}